	.floating-label {
	position: relative;
	margin-bottom: 1.5em;
	width: 140px;
	height: 15px;
	}

	.floating-label input {
	display: flex;
	padding-left: 10px;
	/* justify-content: center;
	align-items: center; */
	height: 40px;
	width: 100%;
	
	font-size: 24px;
	border: 1px solid #ccc;
	border-radius: 4px;
	}

	.floating-label label {
	position: absolute ;
	left: 8px;
	top: 14px;
	color: #b32d00;
	font-size: 16px;
	pointer-events: none;
	transition: all 0.2s ease;
	background: white;
	padding: 0 4px;
	}

	/* When input is focused or has text, float the label */
	.floating-label input:focus + label,
	.floating-label input:not(:placeholder-shown) + label {
	top: -8px;
	font-size: 16px;
	color: #d90000;
	}
