/* ParmForm.css */
    h1{text-align: center;font-size: 70px;font-family:Arial, Helvetica, sans-serif;}
    div{font-size: 20px;font-family:Arial, Helvetica, sans-serif;white-space: pre-wrap;}
	body{background-color:linen;font-size: 20px;}
	body.form{text-align: left;}

	form{
		margin: auto;
		width: 1200px;
		padding: 1em;
		border: 1px solid #CCC;
		border-radius: 1em;
}
	ul{
		list-style: none;
		padding: 0em;
		margin-left: 0px;
}

	form li {
		margin-left: 20px;
		margin-top: 0em;
		font-size: 50px;
}

	label{
		display: inline-block;
		width: 400px;
		text-align: left;
}

	input{
		font: 1em sans-serif;
		width: 700px;
		box-sizing: border-box;
		border: 1px solid #999;
		white-space: pre;
}
	input.short{
		width: 200px;
}	
	input:focus{
		border-color: #000;
}

	.button{
		padding-left: 1px;
}

	button{
		margin-left: 0em;
		font-size: 50px;
		text-align: left;
}

	p{
		text-align: right;
}
