<!DOCTYPE html>
<html lang=""en">
<head>
<meta name="viewport" content="width=device-width">
<style>
    .menu{
        background-color: darkgray;
		margin: auto;
		width: 400px;
		padding: 1em;
		border: 1px solid #CCC;
		border-radius: 1em;
        text-align: left;
    }
</style>
<title>Unknown Hostname</title>
<link rel="stylesheet" href="/static/css/gwstyles.css">
"
<!-- get hostname -->
<!-- update title -->
<script>
    const hn = {{hostname|tojson}};
    document.title = 'myGarage - ' + hn;
    function load(){
        updateTime('clock');
        SetFocus('garagecode');
    }
</script>

<script type="text/javascript" src="/static/js/GarageStatus.js"></script>
<script type="text/javascript" src="/static/js/mygarageclock.js"></script>

</head>

<body onload="load()" bgcolor={{garcolor}}>

<center>
    <br>
    <p id="name"> {{garname}} </p>
    <p id="status"> {{garstatus}}</p>
    <p id="clock">time goes here</p>


    <form action="/Garage" method="post" id="garageform">
        <input class="a" id="garagecode" name="garagecode" type="text "pattern="[0-9]*" value="" STYLE="background-color:white;">
    </form>
    <img id="img1" src={{garimg}} width="70%" onclick="document.forms['garageform'].submit();">
    <p> Enter Activation Code </p><br>

</center>

<div><form class="menu">
    <p>Menu Options:</p>

    <br><a href="/Log"                  class="link">Show Log File           </a><br>
    
    <br><a href="/ShowParmForm"         class="link">Display/Update config parameters</a><br>
    <br><a href="/MyClock/Admin"    class="link">Manage MyClock          </a><br><br>
    <!-- <br><br><input type="button" class="link" value="Reload Page" onclick="document.location.reload()"><br><br> -->
</form>
</div>
<br><br>
</body>
</html>
