<html><head>
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gwstyles.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/mygarageclock.js') }}"></script>
<script type="text/javascript" src="static/js/GarageStatus.js"></script>
</head>

<body onload="startTime()" bgcolor={{garcolor}}>
<center>
    <br>
    <p id="name"> {{garname}} </p>
    <p id="status"> {{garstatus}}</p>
    <p id="clock">time goes here</p>


    <form action="/Garage" method="post" id="garageform">
        <input class="a" id="garagecode" name="garagecode" type="text "pattern="[0-9]*" value="" STYLE="background-color:white;">
    </form>
    <img id="img1" src={{garimg}} width="70%" onclick="document.forms['garageform'].submit();">
    <p> Enter Activation Code </p><br>
    <br><a href="/Log" class="a">Show Log File</a><br>
    <br><a href="/Parms" class="a">Show config parms</a><br>
    <br><a href="/ShowParmForm" class="a">Update config parameters</a><br><br>
    <br><br><a href="/MyClock" class="a">Manage MyClock</a><br><br>
    <br><br><input type="button" class="a" value="Reload Page" onclick="document.location.reload()"><br><br>
    <br><br><input type="button" class="a" value="Update cookie" onclick="set_cookie()"><br><br>
    <br><br><input type="button" class="a" value="Get cookie" onclick="get_cookie()"><br><br>

</center>
<p id="demofld" > hello world</p>

</body>
</html>
