<html>
<head>
<meta name="viewport" content="width=device-width">


<link rel="stylesheet" href="/static/css/mygarageclock.css">
<script type="text/javascript" src="/static/js/mygarageclock.js"></script>

</head>

<body onload="updateTime('clock')">
<center>
    <p class="large"><br>Monitor Digital Clock</p>
        <p class="small">version 6.0<br></p>
        <p class="small" id="clock">clock here</p>

<br><a href="/MyClock/Show" class="a">Show Clock</a><br>
<br><a href="/MyClock/Blank" class="a">Blank Clock</a><br>
<br><a href="/MyClock/ToggleMil" class="a">Toggle Military / 12hr Time</a><br>
<br><a href="/MyClock/ToggleDate" class="a">Toggle display date</a><br>
<br><a href="/MyClock/Dim" class="a">Dim Display</a><br>
<br><a href="/MyClock/Bright" class="a">Brighten Display</a><br>
<br><a href="/MyClock/Segments" class="a">Show all Segments</a><br>
<br><a href="/MyClock/RestartClock" class="a">Restart Clock</a><br>
<br><a href="/" class="a">Return to MyGarage</a><br><br>

<hr style="height:4px;border-width:0;color:gray;background-color:gray">
<br><a href="/Admin" class="a">Web Server Admin Services</a>
</center>

</body>
</html>
