<html>
<head>
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mygarageclock.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/mygarageclock.js') }}"></script>

</head>

<body onload="startTime()">
<center>
    <p class="large"><br>Monitor Digital Clock</p>
        <p class="small">version 1.1<br></p>
        <p class="small" id="clock">clock here</p>

<br><a href="/Show" class="a">Show Clock</a><br>
<br><a href="/Blank" class="a">Blank Clock</a><br>
<br><a href="/ToggleMil" class="a">Toggle Military / 12hr Time</a><br>
<br><a href="/ToggleDate" class="a">Toggle display date</a><br>
<br><a href="/Dim" class="a">Dim Display</a><br>
<br><a href="/Bright" class="a">Brighten Display</a><br>
<br><a href="/Segments" class="a">Show all Segments</a><br>
<br><a href="/RestartClock" class="a">Restart Clock</a><br>
<br><a href="/" class="a">Return to MyGarage</a><br><br>

<hr style="height:4px;border-width:0;color:gray;background-color:gray">
<br><a href="/Admin" class="a">Web Server Admin Services</a>
</center>

</body>
</html>
