<html>
  <head id=""head">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Show Log File</title>
    <link rel="icon" href="/static/color-garage.png" type="image/png">  
    <link rel="stylesheet" href="/static/css/showlog.css">
    <script type="text/javascript" src="/static/js/ShowLog.js"></script>
  </head>
  <body style="background-color: whitesmoke">
    <div id="main" style="display: block">
      <br /><br />
      <center>
        <div class="hdr" id="loghdr">Log File as of mm/dd/yy</div>
        <div class="hdr2" id="loghdr2">
          <br />(There are xx days in log file)
        </div>
        <br />
        <div class="logday">
          <label for="logday">Enter Day # (0= today, -1=yesterday, etc.)</label
          ><br />
          <input type="text" id="logday" placeholder="" maxlength="4"
           pattern="^(\d*)" required />
        </div>
      </center>
      <div class="logdata">
        <pre>
            <div id="logdata"></div>
        </pre>
      </div>
      <center>
        <br /><br />
        <a href="/" class="b">Return</a><br /><br />
      </center>
    </div>
  </body>

</html>
