<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="static/css/webadmin.css">
        <script src="static/js/webadmin.js"></script>
    </head>

    <body>
        <h1>Web Server Admin Services</h1>
        <br><br><button class="btn" id="shutdown" onclick="shutdown()">Shutdown</button>
        <br><br><button class="btn" id="reboot" onclick="reboot()">Reboot</button>
        <br><br><button class="btn" id="close" onclick="closegw()">Close Web Server</button>
        <br><br><button class="btn" id="goback" onclick="goback()">Go Back</button>
    </body>
</html>